@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%) */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Montserrat', 'Fraunces', sans-serif;
	background-color: hsl(30, 38%, 92%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
